:root {
    --violet: #9356dc;
    --pink: #ff76da;
    --blue: #99e2d0;
}

/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

/*ACCUEIL*/
/*LOADING SPINER*/

.loader-container {
    background: #EAEAEA;
    opacity: 0.9;
    z-index: 2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    animation: time 5s;
    animation-fill-mode: forwards;
}

@keyframes time {
    0% {
        /* transform: scale(0.5);*/
        opacity: 1;
    }

    100% {
        /*transform: scale(1);*/
        opacity: 0;
        z-index: -1;
    }
}

.loader {
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: var(--violet);
    animation: spin 2s linear infinite;

}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 8px solid transparent;

}

.loader::before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: var(--pink);
    animation: spin 3s linear infinite;

}

.loader::after {
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-top-color: var(--blue);
    animation: spin 1.5s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.title {
    font-family: "Shrikhand", sans-serif;
}

/* body */
.body {
    margin: O;
    width: 100%;
}

/* LOADER */

/* HEADER */
header,
header a {
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;

}

header img {
    width: 60%;
    height: 100%;
    object-fit: contain;

}

/* Main */
.body .main {
    position: relative;
    width: 100%;
    max-width: 1600px;
}

/* Maps */
.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #EAEAEA;
    box-shadow: 0 5px 5px #d4d4d4 inset;
    padding: 10px 0;
}

.maps i {
    margin-right: 15px;
    font-size: 1, 5em;
}

.maps input {
    background-color: #EAEAEA;
    border: none;
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    color: black;
}

.maps input::placeholder {
    border: none;
    color: black;
}

.maps input:focus-visible {
    outline-color: #9356DC;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.intro h1 {

    font-size: 1.35em;
    margin-top: 40px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1em;
    line-height: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 19%);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    transition: all;
    transition-duration: 0.25s;
}

.intro a:hover {
    transform: scale(1.02);
    opacity: 0.9;
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/* Operative */
.operative {
    justify-content: center;
    align-items: center;
    padding: 52px 5.5% 62px 5.5%;
    max-width: 640px;
    margin: auto;
}

.operative p {
    font-size: 1.5em;
}

.operative h2 {
    text-align: center;
    margin: 15px 0;
}

.headers {
    margin-left: 10px;
}

.filtre {
    text-decoration: none;
    color: black;
}

.howto:hover {
    background-color: #d9c2f5;
}

.howto--background:hover {
    background-color: #d9c2f5;
}

.howto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 96%;
    max-width: 550px;
    height: auto;
    padding: 28px 40px 24px 40px;
    margin: 0 0 25px 12px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
    background-color: #F6F6F6;
}

.howto__step--sort {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background-color: #9356DC; */
    background-color: rgb(216, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding-top: 2px;
    position: absolute;
    left: -12px;
    color: #FFFFFF;
    font-size: 0.85em;
    font-weight: bold;
}

.howto__step__byline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    font-size: 0.85em;
    font-weight: bold;
    color: black;
}

.howto__step__byline i {
    font-size: 22px;
    text-align: center;
    color: #7E7E7E;
}

.howto--background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 96%;
    max-width: 550px;
    height: auto;
    padding: 28px 40px 24px 40px;
    margin: 0 0 25px 12px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
    background-color: #F6F6F6;
}

.howto__step__byline--bg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    font-size: 0.85em;
    font-weight: bold;
    color: black;
}

.howto__step__byline--bg i {
    font-size: 22px;
    text-align: center;
    color: #7E7E7E;
}

/* restaurants */
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    align-items: center;

}

.restaurants h2 {
    margin: 15px 0;
}

.restaurants__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 35px;
    flex-wrap: wrap;
}

.card a {
    text-decoration: none;
    color: black;
}

.card img {
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: cover;
}

.card__new-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background-color: #99E2D0;
    font-size: 0.8em;
    font-weight: bold;
    color: #008766;
    position: absolute;
    top: 13px;
    right: 12px;
}

.card__like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.card__like__byline {
    width: 200px;
    height: 42px;
    padding-bottom: 20px;
    line-height: 1.3;
    letter-spacing: -0.5px;
}

.card__like h3 {
    font-size: 1.2em;
    font-weight: 600;
}

.card__like p {
    font-size: 1em;
}

.card__like i {
    font-size: 29px;
}

.card__like img {
    display: none;
}

.card {
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
    position: relative;
    width: 35%;
    background-color: #FFFFFF;
    margin-bottom: 25px;
}

.btn-like {
    font-size: 30px;
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.icon-fas {
    position: absolute;
    z-index: 0;
    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, #FF79DA, #9356DC);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-delay: 0.5s;
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

.btn-like:hover .icon-fas {
    opacity: 1;
}

.btn-like:hover .far.fa-heart {
    opacity: 0;
}

/* footer */

footer {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
    padding: 30px 0 40px 0;

}

.sock {
    width: 100%;
    padding-left: 5%;
}

.sock h2 {
    font-family: "Shrikhand";
    font-size: 1.1em;
    letter-spacing: 0.65px;
    color: #FFFFFF;
}

.sock ul.feedback {
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
}

.sock ul.feedback li a {
    text-decoration: none;
    font-size: 0.85em;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1.7;
    letter-spacing: 0.1px;
}

.sock ul.feedback li a i {
    width: 25px;
    font-size: 1em;
}

/* footer */
footer {
    background-color: black;
}

footer a {

    text-decoration: none;
}


header a {
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    text-decoration: none;
}

header i {
    font-size: 44px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

header img {
    width: 89%;
    height: 95%;
    object-fit: contain;
    margin-top: 10px;
}

.cover {
    /* position: absolute; */
    width: 100%;
    /* max-width: 1600px; */
}

.img {
    width: 100%;
    height: 250px;
}

.cover_a img {
    width: 100%;
    margin-top: 15px;
    object-fit: cover;
    margin-bottom: -258px;
    height: 650px;
    object-fit: cover;
}

.cover img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: -125px;
    height: 500px;
    object-fit: cover;
}

.menus {
    display: flex;
    width: 100%;
    margin: auto;
    height: auto;
    flex-direction: column;
    padding: 30px 1% 58px 1%;
    position: relative;
    background-color: #F6F6F6;
    border-radius: 36px 36px 0 0;
}

.menus__titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menus__titles h1 {
    width: auto;
    font-family: "Shrikhand";
    font-size: 1.8em;
    font-weight: bold;
    padding: 6px 0px;
}

.menus__titles i {
    font-size: 1.1em;
    padding-right: 5.87%;
}
.icon-fas:hover {
    opacity: 1;
}

.menus>.blackboard {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.menus>.blackboard .main-dishes {
    width: 100%;
    height: auto;
}

.main-dishes__subtitles {
    font-size: 1.1em;
    font-weight: 300;
    padding: 24px 0 6px 1.6%;
}

.main-dishes__underline {
    width: 40px;
    height: 3px;
    background-color: #99E2D0;
    margin: -3px 0 14px 1.6%;
}

.dish {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 97%;
    height: 90px;
    border-radius: 14px;
    background-color: #FFFFFF;
    margin: 12px 12px;
    box-shadow: 5px 5px 5px #d4d4d4;
}

.main-dishes--1 {
    animation: slide 5s alternate;
    -webkit-animation: slide 5s alternate;
    -o-animation: 3s ease-in-out;
}

.main-dishes--2 {
    animation: slide 7s alternate;
    -webkit-animation: slide 7s alternate;
    -o-animation: 3s ease-in-out;
}

.main-dishes--3 {
    animation: slide 9s alternate;
    -webkit-animation: slide 9s alternate;
    -o-animation: 3s ease-in-out;
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@-webkit-keyframes slide {
    0% {
        -webkit-opacity: 0;
    }

    100% {
        -webkit-opacity: 1;
    }
}

.dish__name {
    width: 249px;
}

.dish__name h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0px 0px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 12px;
}

.dish__name p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.03em;
    padding: 0px 0px 10px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 5px;
    margin-bottom: 9PX;
    margin-top: 8px;
    white-space: nowrap;

}

.dish__price {
    position: relative;
    right: 4px;
    bottom: 8px;
}

.dish i {
    display: none;
}

.dish__booking {
    width: 0%;
}

.dish:hover>.dish__booking {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    min-width: 0px;
    height: 90px;
    border-radius: 0 14px 14px 0;
    background-color: #99E2D0;
    margin-right: 0px;
    width: 15%;
    transition: width 600ms ease-in-out;
}

.dish:hover>.dish__booking>.check,
.dish:hover>.dish__booking i {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    font-size: 0.9em;
    color: #99E2D0;
    background-color: #FFFFFF;
    overflow: hidden;
    transform: rotate(360deg);
    transition: transform 600ms ease-in-out;
}

a.btn.btn {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    cursor: pointer;
    transition: all;
    transition-duration: 0.25s;
    padding: 18px 32px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    width: 250px;
    display: block;
    margin-left: 321px;
    margin-left: auto;
    margin-right: auto;
}

a.btn.btn:hover {
    background: linear-gradient(-5deg, #9356DC, #FF79DA);
}

/* FOOTER  */
footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    /* max-width: 1600px; */
    height: auto;
    background-color: black;
    padding: 30px 0 40px 3%;
    margin: auto;
}

.sock {
    width: 100%;
    
}


/* MEDIA-QUERY */
@media (min-width: 992px) {
    header img {
        width: 60%;
        height: 80%;
        object-fit: contain;
    }

    header,
    header a {
        width: 100%;
        display: flex;
        height: 75px;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .intro h1 {
        font-size: 1.35em;
        margin-top: 40px;
    }

    .intro p {
        font-size: 1em;
        line-height: 120%;
        margin-bottom: 20px;
    }

    .intro a {
        text-decoration: none;
        color: white;
        background-color: #9356DC;
        padding: 18px 32px;
        border-radius: 50px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .restaurants {

        max-width: 100%;
    }

    /* .restaurants h2 {
        margin-right: 102px;
        align-self: center;
        margin-bottom: 15px;
    } */
    .restaurants__container {
        width: 100%;
    }

}