/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

/* HTML */
html {
    scroll-behavior: smooth;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.title {
    font-family: "Shrikhand", sans-serif;
}
/* body */
body {
    margin: O;
    width: 100%;
}
/* LOADER */
/* .conteneur {
    background-color: #cffcf1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 5;
    animation: opacit 3000ms ease-in-out forwards;
} */
/* HEADER */
header {
    width: 100%;
    
    
} 
header a {
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    text-decoration: none;
} 
header i {
        font-size: 44px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin-top: 10px;
}
 header img {
    width: 89%;
    height: 95%;
    object-fit: contain;
    margin-top: 10px;
} 
/* main */
.body .main {
    position: relative; 
    width: 100%;
    max-width: 1600px;  
}
.cover {
    /* position: absolute; */
    width: 100%;
    /* max-width: 1600px; */
  }
  .img {
    width: 100%;
    height: 250px;
  }
  .cover_a img {
    width: 100%;
    margin-top: 15px;
    object-fit: cover;
    margin-bottom: -258px;
    height: 904px;
}
  .cover img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: -125px;
}
.menus {
    display: flex;
    width: 100%;
    margin: auto;
    height: auto;
    flex-direction: column;
    padding: 30px 1% 58px 1%;
    position: relative;
    background-color: #F6F6F6;
    border-radius: 36px 36px 0 0;
  }
.menus__titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menus__titles h1 {
    width: auto;
    font-family: "Shrikhand";
    font-size: 3em;
    font-weight: bold;
    padding: 6px 1.6%;
}
.menus__titles i {
  font-size: 2.75em;
  padding-right: 5.87%;
}
.menus__titles img {
    display: none;
  }
.heart:hover i {
    display: none;
  } 
.titles:hover img {
    display: flex;
    width: 32px;
    height: 32px;
    overflow: hidden;
     -webkit-animation: appearheart 1000ms ease-in-out;
            animation: appearheart 1000ms ease-in-out; 
  } 
.heart:hover img {
    display: flex;
    width: 32px;
    height: 32px;
    overflow: hidden;
    animation: appearheart 1000ms linear;
  }
  /* ENTREE */
  .menus > .blackboard {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    /* align-items: center; */
    gap: 5px;
  }
  .menus > .blackboard .main-dishes {
    width: 100%;
    height: auto;
  }
  .main-dishes__subtitles {
    font-size: 2em;
    font-weight: 300;
    padding: 24px 0 6px 1.6%;
}
.main-dishes__underline {
    width: 40px;
    height: 3px;
    background-color: #99E2D0;
    margin: -3px 0 14px 1.6%;
  }
.dish {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 90px;
    border-radius: 14px;
    background-color: #FFFFFF;
    margin: 12px 12px;
    box-shadow: 5px 5px 5px #d4d4d4;
}

.dish__name {
    width: 249px;
}
.dish__name h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0px 0px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 12px;
  }
  .dish__name p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.03em;
    padding: 0px 0px 10px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 5px;
    margin-bottom: 9PX;
    margin-top: 8px;
} 
 
.dish__price {
    position: relative;
    right: 4px;
    bottom: 8px;
}
.dish i {
    display: none;
  }
.dish__booking {
    width: 0%;
  }
.dish:hover > .dish__booking {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    min-width: 0px;
    height: 90px;
    border-radius: 0 14px 14px 0;
    background-color: #99E2D0;
    margin-right: 0px;
    width: 30%;
    transition: width 600ms ease-in-out;
  }
  .dish:hover > .dish__booking > .check, .dish:hover > .dish__booking i {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    font-size: 0.9em;
    color: #99E2D0;
    background-color: #FFFFFF;
    overflow: hidden;
    transform: rotate(360deg);
    transition: transform 600ms ease-in-out;
  }

 a.btn.btn {
    text-decoration: none;
    color: white;
    background-color: #9356DC;
    padding: 18px 32px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    width: 250px;
    display: block;
    margin-left: 321px;
    margin-left: auto;
    margin-right: auto;
}
 a.btn.btn:hover {
  background: linear-gradient(-5deg,#9356DC, #FF79DA); 
}
/* FOOTER  */
footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    /* max-width: 1600px; */
    height: auto;
    background-color: black;
    padding: 30px 0 40px 5%;
    margin: auto;
  }
.sock {
    width: 100%;
    /* max-width: 600px;
    margin: auto; */
  }
.sock h2 {
    font-family: "Shrikhand";
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 0.65px;
    color: #FFFFFF;
    width: 100%;
    max-width: 600px;
    text-align: left;
 }
.sock ul.feedback {
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
  }
  .sock ul.feedback li a {
    text-decoration: none;
    font-size: 0.85em;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.7;
    letter-spacing: 0.1px;
  }
.sock ul.feedback li a i {
    width: 25px;
    font-size: 1em;
  }