:root{
    --violet: #9356dc;
    --pink: #ff76da;
    --blue: #99e2d0;
}
        /*ACCUEIL*/
        /*LOADING SPINER*/

.loader-container{
    background: #EAEAEA;
    opacity: 0.9;
    z-index: 2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    animation: time 5s;
    animation-fill-mode: forwards;
}

@keyframes time{
    0%{
       /* transform: scale(0.5);*/
        opacity: 1;
    }
    
    100%{
        /*transform: scale(1);*/
        opacity: 0;
        z-index: -1;
    }
}

.loader{
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: var(--violet);
    animation: spin 2s linear infinite;

}

.loader::before, .loader::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 8px solid transparent;

}

.loader::before{
    top: 10px;
    left: 10px;
    right:10px;
    bottom: 10px;
    border-top-color:var(--pink) ;
    animation: spin 3s linear infinite;
    
}

.loader::after{
    top: 25px;
    left: 25px;
    right:25px;
    bottom: 25px;
    border-top-color:var(--blue);
    animation: spin 1.5s linear infinite;

}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
html {
    scroll-behavior: smooth;
}
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.title {
    font-family: "Shrikhand", sans-serif;
}

/* body */
.body {
    margin: O;
    width: 100%;
}
/* LOADER */

/* HEADER */
header, header a {
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    
} 
header img {
    width: 60%;
    height: 100%;
    object-fit: contain;
   
}

/* Main */
.body .main {
    position: relative; 
    width: 100%;
    max-width: 1600px;  
}
/* Maps */
.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #EAEAEA;
    box-shadow: 0 5px 5px #d4d4d4 inset;
    padding: 10px 0;
}

.maps i {
    margin-right: 15px;
    font-size: 1,5em;
}
.maps input {
    background-color: #EAEAEA;
    border: none;
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    color: black;
}
.maps input::placeholder { 
    border: none;
    color: black;
}
.maps input:focus-visible { 
   outline-color: #9356DC;
 }
/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px; 
    text-align: center;
}
.intro h1 {
    
    font-size: 1.35em;
    margin-top: 40px;
    margin-bottom: 20px;
}
.intro p {
    font-size: 1em;
    line-height: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.intro a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 19%);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    transition: all;
    transition-duration: 0.25s;
}
.intro a:hover {
    transform: scale(1.02);
    opacity: 0.9;
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }
/* Operative */
.operative {
    justify-content: center;
    align-items: center;
    padding: 52px 5.5% 62px 5.5%;
    max-width: 640px;
    margin: auto;
}
.operative p {
    font-size: 1.5em;
}
.operative h2 {
    text-align: center;
    margin-bottom: 20px;
}
.headers{
    margin-left: 10px;
}
.filtre { 
    text-decoration: none;
    color: black;
}
.howto:hover { 
    background-color: #d9c2f5;
}
.howto--background:hover {
    background-color: #d9c2f5;
}
.howto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 96%;
    max-width: 550px;
    height: auto;
    padding: 28px 40px 24px 40px;
    margin: 0 0 25px 12px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
    background-color: #F6F6F6;
}
.howto__step--sort {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background-color: #9356DC; */
    background-color: rgb(216, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding-top: 2px;
    position: absolute;
    left: -12px;
    color: #FFFFFF;
    font-size: 0.85em;
    font-weight: bold;
 }
 .howto__step__byline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    font-size: 0.85em;
    font-weight: bold;
    color: black;
}
.howto__step__byline i {
    font-size: 22px;
    text-align: center;
    color: #7E7E7E;
}
.howto--background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 96%;
    max-width: 550px;
    height: auto;
    padding: 28px 40px 24px 40px;
    margin: 0 0 25px 12px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
    background-color: #F6F6F6;
}
.howto__step__byline--bg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    font-size: 0.85em;
    font-weight: bold;
    color: black;
}
.howto__step__byline--bg i {
    font-size: 22px;
    text-align: center;
    color: #7E7E7E;
}
/* restaurants */
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    align-items: center;
    
}
.restaurants h2 {
    align-self: flex-start;
    margin-left: 11%;
    margin-bottom: 15px;
}
.restaurants__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
    position: relative;
    width: 100%;
    max-width: 420px;
    height: auto;
    background-color: #FFFFFF;
    margin-bottom: 24px;
}
.card a {
    text-decoration: none;
    color: black;
}
.card img {
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: bottom;
}
.card__new-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background-color: #99E2D0;
    font-size: 0.8em;
    font-weight: bold;
    color: #008766;
    position: absolute;
    top: 13px;
    right: 12px;
}
.card__like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px 20px 16px;
}
.card__like__byline {
    width: 200px;
    height: 42px;
    padding-bottom: 20px;
    line-height: 1.3;
    letter-spacing: -0.5px;
}
.card__like h3 {
    font-size: 1.2em;
    font-weight: 600;
}
.card__like p {
    font-size: 1em;
}
.card__like i {
    font-size: 29px;
}
.card__like img {
    display: none;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
    position: relative;
    width: 100%;
    max-width: 530px;
    height: auto;
    background-color: #FFFFFF;
    margin-bottom: 24px;
}
.btn-like {
    font-size: 30px;
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  
  .icon-fas {
    position: absolute;
    z-index: 0;
    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, #FF79DA, #9356DC);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-delay: 0.5s;
    transition: opacity 0.5s ease-out;
    opacity: 0;
  }
  .icon-fas:hover {
    opacity: 1;
  }
/* .titles img {
    display: none;
  }
  .heart:hover i {
    display: none;
  }
  .heart:hover img {
    display: flex;
    width: 32px;
    height: 32px;
    overflow: hidden;
    animation: appearheart 1000ms linear;
  }  */
/* .card__like img {
    display: none;
  } */
/* footer */

footer {
     flex-direction: column;
    display: flex; 
     align-items: flex-start;
    justify-content: center;
    position: relative; 
    width: 100%;
    height: auto; 
    background-color:black;
    padding: 30px 0 40px 0;
     /* margin: auto;  */
}
.sock {
    width: 100%;
     max-width: 600px;
    margin: auto; 
    margin-left: 250opx;
     }
.sock h2 {
    font-family: "Shrikhand";
    font-size: 1.1em;
    font-weight: lighter;
    letter-spacing: 0.65px;
    color: #FFFFFF;
    width: 100%;
    max-width: 600px;
    text-align: left;
    align-self: flex-start;
    padding-top: 15px;
}
.sock ul.feedback {
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
}
.sock ul.feedback li a {
    text-decoration: none;
    font-size: 0.85em;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1.7;
    letter-spacing: 0.1px;
}
.sock ul.feedback li a i {
    width: 25px;
    font-size: 1em;
}

footer a {

    text-decoration:none ;
}