/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
/* @keyframes appearheart {
    0% {
      opacity: 0.3;
      transform: scale(0);
    }
    50% {
      opacity: 0.6;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1.1);
    }
  }
  @keyframes ticks {
    0% {
      transform: scaleY(0) scaleX(0);
    }
    100% {
      transform: scaleY(1) scaleX(1);
    }
  }
  .main-dishes {
    animation: ticks 750ms backwards ease-in-out;
  }
  .main-dishes--1 {
    animation-delay: 1580ms;
    animation-direction: alternate;
    animation-fill-mode: backwards;
  }
  .main-dishes--2 {
    animation-delay: 1285ms;
    animation-direction: alternate;
    animation-fill-mode: backwards;
  }
  .main-dishes--3 {
    animation-delay: 660ms;
    animation-direction: alternate;
    animation-fill-mode: backwards;
  } 
/* HTML */
html {
    scroll-behavior: smooth;
}
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.title {
    font-family: "Shrikhand", sans-serif;
}

/* body */
.body {
    margin: O;
    width: 100%;
}
/* LOADER */
/* .conteneur {
    background-color: #cffcf1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 5;
    animation: opacit 3000ms ease-in-out forwards;
} */
/* HEADER */
header, header a {
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    
} 
header img {
    width: 60%;
    height: 100%;
    object-fit: contain;
   
}

/* Main */
.body .main {
    position: relative; 
    width: 100%;
    max-width: 1600px;  
}
/* Maps */
.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #EAEAEA;
    box-shadow: 0 5px 5px #d4d4d4 inset;
    padding: 10px 0;
}

.maps i {
    margin-right: 15px;
    font-size: 1,5em;
}
.maps input {
    background-color: #EAEAEA;
    border: none;
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    color: black;
}
.maps input::placeholder { 
    border: none;
    color: black;
}
.maps input:focus-visible { 
   outline-color: #9356DC;
 }
/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px; 
    text-align: center;
}
.intro h1 {
    
    font-size: 1.35em;
    margin-top: 40px;
    margin-bottom: 20px;
}
.intro p {
    font-size: 1em;
    line-height: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.intro a {
    text-decoration: none;
    color: white;
    background-color: #9356DC;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.intro .btn--gradient:hover {
   background: linear-gradient(-5deg,#9356DC, #FF79DA); 
}
/* Operative */
.operative {
    justify-content: center;
    align-items: center;
    padding: 52px 5.5% 62px 5.5%;
    max-width: 640px;
    margin: auto;
}
.operative p {
    font-size: 1.5em;
}
.operative h2 {
    text-align: center;
    margin-bottom: 20px;
}
.headers{
    margin-left: 10px;
}
.filtre { 
    text-decoration: none;
    color: black;
}
.howto:hover { 
    background-color: #d9c2f5;
}
.howto--background:hover {
    background-color: #d9c2f5;
}
.howto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 96%;
    max-width: 550px;
    height: auto;
    padding: 28px 40px 24px 40px;
    margin: 0 0 25px 12px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
    background-color: #F6F6F6;
}
.howto__step--sort {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background-color: #9356DC; */
    background-color: rgb(216, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding-top: 2px;
    position: absolute;
    left: -12px;
    color: #FFFFFF;
    font-size: 0.85em;
    font-weight: bold;
 }
 .howto__step__byline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    font-size: 0.85em;
    font-weight: bold;
    color: black;
}
.howto__step__byline i {
    font-size: 22px;
    text-align: center;
    color: #7E7E7E;
}
.howto--background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 96%;
    max-width: 550px;
    height: auto;
    padding: 28px 40px 24px 40px;
    margin: 0 0 25px 12px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
    background-color: #F5EDFF;
}
.howto__step__byline--bg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    font-size: 0.85em;
    font-weight: bold;
    color: black;
}
.howto__step__byline--bg i {
    font-size: 22px;
    text-align: center;
    color: #9356DC;
}
/* restaurants */
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    align-items: center;
    max-width: 640px;
    margin: auto;
    padding: 58px 5.5%;
}
.restaurants h2 {
    align-self: flex-start;
    margin-left: 11%;
    margin-bottom: 15px;
}
.restaurants__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
    position: relative;
    width: 100%;
    max-width: 420px;
    height: auto;
    background-color: #FFFFFF;
    margin-bottom: 24px;
}
.card a {
    text-decoration: none;
    color: black;
}
.card img {
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: bottom;
}
.card__new-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background-color: #99E2D0;
    font-size: 0.8em;
    font-weight: bold;
    color: #008766;
    position: absolute;
    top: 13px;
    right: 12px;
}
.card__like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px 20px 16px;
}
.card__like__byline {
    width: 200px;
    height: 42px;
    padding-bottom: 20px;
    line-height: 1.3;
    letter-spacing: -0.5px;
}
.card__like h3 {
    font-size: 1.2em;
    font-weight: 600;
}
.card__like p {
    font-size: 1em;
}
.card__like i {
    font-size: 24px;
}
.card__like img {
    display: none;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
    position: relative;
    width: 100%;
    max-width: 530px;
    height: auto;
    background-color: #FFFFFF;
    margin-bottom: 24px;
}
.titles img {
    display: none;
  }
  .heart:hover i {
    display: none;
  }
  .heart:hover img {
    display: flex;
    width: 32px;
    height: 32px;
    overflow: hidden;
    animation: appearheart 1000ms linear;
  } */
/* .card__like img {
    display: none;
  } */
/* footer */

footer {
     flex-direction: column;
    display: flex; 
     align-items: flex-start;
    justify-content: center;
    position: relative; 
    width: 100%;
    height: auto; 
    background-color:black;
    padding: 30px 0 40px 5%;
     margin: auto; 
}
.sock {
    width: 100%;
     max-width: 600px;
    margin: auto; 
     }
.sock h2 {
    font-family: "Shrikhand";
    font-size: 1.1em;
    font-weight: lighter;
    letter-spacing: 0.65px;
    color: #FFFFFF;
    width: 100%;
    max-width: 600px;
    text-align: left;
    align-self: flex-start;
}
.sock ul.feedback {
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
}
.sock ul.feedback li a {
    text-decoration: none;
    font-size: 0.85em;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1.7;
    letter-spacing: 0.1px;
}
.sock ul.feedback li a i {
    width: 25px;
    font-size: 1em;
}

footer a {

    text-decoration:none ;
}