// Section Menus
.menus{
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    height: auto;
    flex-direction: column;
    padding: 30px 5% 58px 5%;
    position: relative;
    top: 220px;
    background-color: $groundcolor;
    border-radius: 36px 36px 0 0;
    &__titles{
        display: flex;
        justify-content: space-between;
        align-items: center;